@media (max-width: 600px) {
  .home-left,
  .home-right {
    display: none;
  }
  .home-container01 {
    display: none;
  }
  .home-middle {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .navbar-logo-title{
    margin: 0px;
  }
  .home-hero1{
    flex-direction: column;
  }
  .home-container03{
    align-items: center;
  }
  .category-card-image{
    width: 250px;
    height: 250px;
  }
  .home-full-width-banner{
    padding-top: 35px;
  }
  .home-full-width-banner{
    flex-direction: column;
  }
  .home-image6{
    width: 100%;
  }
  .home-left4{
    padding-top: 30px;
  }
  .home-container08 img{
    width: 100%;
  }
  .home-container08{
    flex-direction: column;
  }
  .blog-post-card-blog-post-card{
    max-width: none;
  }
  .home-main{
    padding-bottom: 50px;
  }
 
  .home-links-container{
    flex-direction: column;
  }
  .home-container09{
    width: 100%;
  }
  .home-footer1{
    flex-wrap: wrap-reverse;
    padding-bottom: 30px;
  }
}
