<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{commons/fragments::head}">
</head>

<body>

<div th:replace="~{commons/fragments::nav}">

</div>


<div class="container">
    <h2 class="text-center text-white">Upload Offer</h2>
    <form th:method="POST"
          th:object="${offerAddDto}"
          th:action="@{/offers/add}"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
        <div class="row">

            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="model">Model</label>
                <select id="model" class="form-control" th:field="*{model}">
                    <option value="">- Select a model -</option>
                    <optgroup th:each="brand : ${brands}" th:label="${brand.name}">
                        <option th:each="m : ${brand.models}" th:value="${m.name}" th:text="${m.name}" th:selected="${m.name} == *{model}">Model</option>
                    </optgroup>
                </select>
                <p class="errors alert alert-danger" th:if="${#fields.hasErrors('model')}">
                    Vechicle model is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="price" class="text-white font-weight-bold">Price</label>
                <input id="price" type="number" min="0" step="100" class="form-control"
                       placeholder="Suggested price" th:field="*{price}"/>
                <p  class="errors alert alert-danger" th:if="${#fields.hasErrors('price')}">
                    Suggested price is required.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="engine">Engine</label>
                <select id="engine" th:field="*{engine}" class="form-control">
                    <option value="">- Select engine type -</option>
                    <option th:each="e : ${T(com.example.demo.model.entity.Engine).values()}" th:value="${e}" th:text="${e}">
                        Engine type
                    </option>
                </select>
                <p class="errors alert alert-danger" th:if="${#fields.hasErrors('engine')}">
                    Engine type is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="transmission">Transmission</label>
                <select id="transmission" th:field="*{transmission}" class="form-control">
                    <option value="">- Select transmission type -</option>
                    <option th:each="t : ${T(com.example.demo.model.entity.Transmission).values()}" th:value="${t}" th:text="${t}"> Transmission type
                    </option>
                </select>
                <p class="errors alert alert-danger" th:if="${#fields.hasErrors('transmission')}">
                    Transmission type is required.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="year" class="text-white font-weight-bold">Year</label>
                <input th:field="*{year}" id="year" type="number" min="1900" max="2099" step="1" class="form-control"
                       placeholder="Manufacturing year"/>
                <p class="errors alert alert-danger" th:if="${#fields.hasErrors('year')}">
                    Manufacturing year is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="mileage" class="text-white font-weight-bold">Mileage</label>
                <input th:field="*{mileage}" id="mileage" type="number" min="0" max="900000" step="1000"
                       class="form-control"
                       placeholder="Mileage in kilometers"/>
                <p class="errors alert alert-danger" th:if="${#fields.hasErrors('mileage')}">
                    Mileage in kilometers is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="text-white font-weight-bold" for="description">Description</label>
            <textarea th:field="*{description}" id="description" type="textarea" class="form-control" rows="3"
                      placeholder="Description"></textarea>
            <p class="errors alert alert-danger" th:if="${#fields.hasErrors('description')}">
                Description is required.
            </p>
        </div>
        <div class="form-group">
            <label class="text-white font-weight-bold" for="imageUrl">Image URL</label>
            <input th:field="*{imageUrl}" id="imageUrl" type="url" class="form-control"
                   placeholder="Put vehicle image URL here">
            <p class="errors alert alert-danger" th:if="${#fields.hasErrors('imageUrl')}">
                Vehicle image URL is required.
            </p>
        </div>

        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg" value="Submit Offer"/>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <footer> </footer>
</div>

</body>
</html>
