/* (https://fonts.google.com/specimen/Poppins -> headings
https://fonts.google.com/specimen/Open+Sans) -> paragraphs
 */
@import url("https://fonts.google.com/specimen/Poppins");
@import url("https://fonts.google.com/specimen/Open+Sans");
* {
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
}
.navigation {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}
.list-nav a {
  text-decoration: none;
  color: black;
}
.list-nav li {
  list-style: none;
}
.list-nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.navigation .logo {
  align-self: flex-start;
  vertical-align: middle;
  height: 40px;
  padding-top: 12px;
}
.backround-header .bg {
  width: 100%;
  margin: 0px;
  height: 600px;
  position: absolute;
}
.backround-header .dog {
  position: relative;
  top: 70px;
}
.backround-header .text-header {
  position: relative;
  color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}
body {
  font-family: "Open Sans", sans-serif;
}
.header-content {
  display: flex;
  flex-direction: row;
}
.care {
  font-weight: lighter;
}
 .pets {
  font-weight: 900;
  padding-bottom: 14px;
}
.header-content .text-header h1 {
  font-size: 46px;
  line-height: 48px;
}
.header-content .text-header {
  width: 20%;
  margin: 150px 120px;
}
.header-content .text-header p {
  line-height: 26px;
  margin-bottom: 30px;
}
.btn {
  padding: 10px 30px;
  border-radius: 50px;
}
.contact-btn {
  color: #e9220d;
  background-color: white;
  border: white solid 1px;
}
.header-content .dog {
  height: 600px;
  width: 800px;
}
.service {
  text-align: center;
}
.service .heading{
    font-size: 34px;
    padding-top: 150px;
    font-weight: 900;
}
.service .heading-info{
    width: 35%;
    margin: auto;
    padding-bottom: 70px;
}
.service article {
  border: #e9220d solid 1px;
  border-radius: 6px;
  padding: 20px;
}
.pets-info {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  width: 900px;
  margin: auto;
  gap: 20px;
}
.pets-info .bg-service {
  display: inline-block;
  position: relative;
  padding: 20px;
}
.pets-info .small-dog {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.service h2 {
  padding-bottom: 20px;
}
.service p {
  padding-bottom: 30px;
  color: gray;
}
.service {
  margin-bottom: 200px;
}
.care-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;
  margin: auto;
}
.care-info .cat-img {
  width: 50%;
}
.care-info .cat-info {
  align-self: center;
  width: 30%;
}
.cat-info h2{
    font-size: 38px;
    line-height: 40px;
}
.cat-info .pets{
    padding-bottom: 25px;
}
.about-us {
  margin-top: 50px;
  background-color: #e9220d;
  color: white;
  border: #e9220d solid 1px;
}
.why-anipat {
  background-image: url(images/cats-bg.png);
  background-repeat: no-repeat;
  background-position: cover;
  height: 600px;
  display: flex;
  
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 100px;
}
.why {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  color: white;
  width: 30%;
  text-align: center;
  align-items: center;
}
.why button {
  align-self: center;
  margin: 10px;
}

.why h2 {
  font-size: 36px;
}
footer {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  width: 1200px;
  gap: 20px;
  margin: auto;
  padding-bottom: 50px;
}
footer li {
  list-style: none;
  color: gray;
  padding-bottom: 10px;
}
footer ul{
    padding: 0px;
}
footer a{
    text-decoration: none;
    color: gray;
}
footer h3{
    padding-bottom: 10px;
}
footer p{
    padding-top: 20px;
    color: gray;
}